* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    border: solid 5px black;
    width: 100%;
    height: 100%;
    background-color: #E8E9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_body {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon_header, .titulo_header {
    margin: 0.5em;
}

.icon_header {
    width: 10%;
}


.Section_Calculadora {
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 30px;
    background-color: black;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header_Calculadora {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_btn {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    background-color: #E8E9EA;
    margin: 5%;
    width: 40%;
    height: 5%;
}

.menu_simples {
    margin: 5% 0 5% 0;
    color: #E8E9EA;
}

.valor_saida {
    color: #E8E9EA;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5%;
}

.texto_valor_saida {
    font-size: 30px;
}

h3, h4 {
    font-family: sans-serif;
    font-size: 1.5em;
}

.valor_entrada { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Botoes_linha_1, .Botoes_linha_2, .Botoes_linha_3, .Botoes_linha_4, .Botoes_linha_5 {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

#botao_c {
    background-color: red;
}

#titulo_botao_c {
    color: #E8E9EA;
}

.botao_operador {
    background-color: #FFC300;
}

#botao_zero {
    width: 72%;
}

button {
    width: 23%;
    height: 100%;
    border-radius: 1em;
}



